.container_cartaz{
    display: flex;
    box-shadow: 0 0 1px 8px #ccc;
    flex-direction: column;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
}

h2{
    font-size: 18px;
}

.box_movies{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . ."; 
}

.movie{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    background-color: azure;
    width: 25rem;
}

.container_movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button{
    cursor: pointer;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
}

button{
    width: 25rem;
}

h2{
    text-align: center;
}

.logo{
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
}